.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .text-white {
    color: #fff; /* Couleur blanche pour le texte */
  }
  
  .text-center {
    text-align: center; /* Centre le texte */
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.2s;
  }
  
  .form-control:focus {
    border-color: hsl(27, 90%, 63%);
    box-shadow: 0 0 5px hsl(27, 90%, 63%);
  }
  
  .btn {
    background-color: hsl(27, 90%, 63%);
    color: #fff; /* Écriture en blanc */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .btn:hover {
    background-color: hsl(27, 90%, 53%);
  }

  .nav-bar-flex{
    display: flex;
    justify-content: center;
  }